<div class="container-fixed-header">
  <ul class="list-inline">
    <li><a (click)="moveTo('publishFlight')"
         href="javascript:void(0)">Publish Flights</a></li>
    <li><a (click)="moveTo('fulfillFlight')"
         href="javascript:void(0)">Fulfill Flights</a></li>
    <li><a (click)="moveTo('serviceClasses')"
         href="javascript:void(0)">Service Classes</a></li>
  </ul>
</div>

<div class="landing-content bg-white">
  <div class="cover-photo"
       style="background: url(assets/img/landing-header-2x.jpg) no-repeat 50% bottom/cover;"></div>

  <div class="container">

    <!-- START PUBLISH FLIGHT ROW -->
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex flex-column ">
        <h3>Publish Flights</h3>
        <p id="publishFlight">
          Use our Publish Flights product to sell excess capacity on your flights to realize additional revenue. You would provide flight route, departure date, tail number from your Fleet of Aircraft in our system, the number of seats that you would like to offer for sale, and the minimum per-seat price that you would accept. You can choose from Dynamic Pricing or Fixed Pricing. Dynamic Pricing allows the company to increase the price of the seat in an attempt to increase revenue for both parties. Fixed Price is determined by the operator and is inclusive of all commissions and fees except FET, segment and credit card Fees, and will not be modified by XO.
        </p>
        <p class="smaller disclaimer">
          XO does not guarantee that any seats will be sold. Operator will receive payment only in the event members purchase any seats. Once any seats are purchased, Operator cannot cancel or change flight route, departure time or the aircraft make and model.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex flex-column">
        <img class="publish-flights"
             src="assets/img/publish-flights.png"
             alt="Publish Flights">
      </div>
    </div>
    <!-- END PUBLISH FLIGHT ROW -->

    <!-- START FULFILL FLIGHT ROW -->
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex flex-column">
        <img class="fulfill-flights"
             src="assets/img/fulfill-flights.png"
             alt="Fulfill Flights">
      </div>
      <div class="col-lg-6 col-sm-12 d-flex flex-column fulfill-flights">
        <h3>Fulfill Flights</h3>
        <p id="fulfillFlight"
           class="m-b-100">
          With our Fulfill Flights product, we make Guaranteed Charter opportunities available to select partner operators. The first operator to Accept an offer wins the trip. At XO, we are dedicated to eliminating all of the hassles of booking a private jet. We are committed to bringing transparency & value to both our partner operators & customers.
        </p>
      </div>
    </div>
    <!-- END FULFILL FLIGHT ROW -->

    <!-- START SERVICE CLASSES ROW -->
    <div class="row service-classes">

      <div class="col-lg-12 d-flex flex-column">
        <h3>Three Ways to Charter</h3>
        <p class="m-b-80 m-b-sm-40 bolder">
          XO’s Service Classes give customers piece of mind when booking on-demand, by creating<br class="hidden-sm hidden-xs" /> transparency and predictability. Flyers can choose from the following aircraft options:
        </p>
        <div id="serviceClasses"></div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 d-flex flex-column first">
        <svg class="m-b-20"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px"
             y="0px"
             width="106px"
             height="100px"
             viewBox="0 0 106 100"
             style="enable-background:new 0 0 106 100;"
             xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #C6262C;
            }
          </style>
          <g>
            <path class="st0"
                  d="M20.6,100.4l6.6-36.5L0.3,38.3l36.9-4.9L53.2,0l15.9,33.4l36.9,5L79,63.8l6.8,36.5L53.1,82.6L20.6,100.4z
       M7,40.5l23.6,22.4l-0.4,1.7l-5.5,30.1l28.4-15.6l1.4,0.8l27.1,14.6l-5.9-31.8l1.2-1.2l22.4-21.1L67,36.1l-0.6-1.5L53.2,7.1
      L39.3,36.3l-1.6,0.2L7,40.5z" />
          </g>
        </svg>
        <h4>Classic</h4>
        <p class="m-b-30">
          Includes a variety of aircraft from turboprop to heavy jets; while not new, these are vetted and verified - the most affordable and most practical way to go private. Many are equipped with WiFi.
        </p>
        <p class="smaller m-b-80">
          <strong class="d-block m-b-10">Requirements:</strong>
          XO Approved Aircraft List
        </p>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 d-flex flex-column">
        <svg class="m-b-20"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px"
             y="0px"
             width="118px"
             height="100px"
             viewBox="0 0 118 100"
             style="enable-background:new 0 0 118 100;"
             xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #C6262C;
            }

            .st1 {
              fill-rule: evenodd;
              clip-rule: evenodd;
              fill: #C6262C;
            }
          </style>
          <g>
            <g>
              <path class="st0"
                    d="M58.8,64.3L44.1,49.6l14.7-14.7l14.7,14.7L58.8,64.3z M49.3,49.6l9.5,9.5l9.5-9.5l-9.5-9.5L49.3,49.6z" />
            </g>
            <path class="st1"
                  d="M96.6,51.2l-3,3l-3-3l3-3L96.6,51.2z M26.9,51.2l-3,3l-3-3l3-3L26.9,51.2z" />
            <g>
              <path class="st0"
                    d="M108.1,99.7H10V77.8L0.5,15.6l32,6.5L58.7,0.4l26.8,21.7l31.5-6.5l-8.8,63V99.7z M13.6,96h90.9V80.3H13.6V96z
         M13.5,76.6h91.2l7.9-56.5L84.5,26L58.7,5.1L33.5,26L4.9,20.2L13.5,76.6z" />
            </g>
          </g>
        </svg>


        <h4>Premium</h4>

        <p class="m-b-30">An industry-leading collection of newer aircraft that includes light jets to ultra-long-range jets, all of which have modern cabins and WiFi access.</p>

        <p class="smaller m-b-80">
          <strong class="d-block m-b-10">Requirements:</strong>
          XO Approved Aircraft List <br />
          2000 or newer <br />
          Refurbished in the past 10 years <br />
          Complimentary wifi up to $250 per flight hour (US only)
        </p>
      </div>

      <div class="col-lg-4 col-sm-4 col-xs-12 d-flex flex-column last">
        <svg class="m-b-20"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px"
             y="0px"
             width="132px"
             height="100px"
             viewBox="0 0 132 100"
             style="enable-background:new 0 0 132 100;"
             xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #C6262C;
            }
          </style>
          <g>
            <g>
              <path class="st0"
                    d="M66,99.8L0,29.2L17.5-0.2h96.9L132,29.2L66,99.8z M4.5,28.8L66,94.6l61.5-65.8L112.4,3.4H19.6L4.5,28.8z" />
            </g>
            <g>
              <path class="st0"
                    d="M129.8,30.8H2.2c-1,0-1.8-0.8-1.8-1.8s0.8-1.8,1.8-1.8h127.5c1,0,1.8,0.8,1.8,1.8S130.8,30.8,129.8,30.8z" />
            </g>
            <g>
              <path class="st0"
                    d="M66,99C66,99,66,99,66,99C66,99,66,99,66,99c-0.1,0-0.3,0-0.4-0.1c-0.1,0-0.2,0-0.2-0.1
        c-0.2-0.1-0.4-0.2-0.6-0.4c-0.2-0.2-0.3-0.4-0.4-0.6c0,0,0,0,0,0L38.8,30L17.2,2.8c-0.6-0.8-0.5-1.9,0.3-2.5
        c0.8-0.6,1.9-0.5,2.5,0.3l20.5,25.8L62.9,0.5c0,0,0,0,0.1-0.1c0.1-0.1,0.3-0.3,0.5-0.4c0.2-0.1,0.5-0.2,0.8-0.2
        c0.3,0,0.5,0,0.8,0.2c0.2,0.1,0.3,0.2,0.5,0.3c0,0,0,0,0.1,0.1l26,26L112,0.5c0.6-0.8,1.7-0.9,2.5-0.3c0.8,0.6,0.9,1.7,0.3,2.5
        L93.2,30L67.7,97.8c0,0,0,0,0,0c-0.1,0.2-0.2,0.4-0.4,0.6c-0.2,0.2-0.4,0.3-0.6,0.4c-0.1,0-0.1,0-0.2,0.1C66.3,99,66.2,99,66,99z
         M42.4,29.5L66,92.1l23.5-62.6L64.3,4.3L42.4,29.5z" />
            </g>
          </g>
        </svg>
        <h4>Luxe</h4>
        <p class="m-b-30">
          The pinnacle of our charter classes featuring the newest planes in our fleet from super-midsize jets through ultra-long-range options. Many have cabins created by world-class designers - all of which are complete with a flight attendant, sophisticated catering, complimentary WiFi, premium catering and many other amenities.
        </p>
        <p class="smaller m-b-100">
          <strong class="d-block m-b-10">Requirements:</strong>
          XO Approved Aircraft List <br />
          2007 or newer <br />
          If older than 10 years, refurbished in the last 5 years <br />
          Complimentary wifi up to $500 per flight hour <br />
          Flight attendant available
        </p>
      </div>
    </div>
    <!-- END SERVICE CLASSES ROW -->
  </div>
</div>
