.slide-wrapper {
  display: block;
  // overflow: hidden;
  position: absolute;
  z-index: 120;
}

.slide-wrapper .pane-container {
  transform: 'translateX(100%)';
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  .pane {
    flex: 1;
    z-index: 102;
  }
}

.preview-body {
  position: fixed;
  display: block;
  top: 60px;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
  border-left: 1px solid rgba(222, 227, 231, 0.56);
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 60px);
}

.preview-outside {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

@media (max-width: 1200px) {
  .preview-body {
    width: 50%!important;
  }
}

@media (max-width: 768px) {
  .preview-body {
    width: 90%!important;
    top: 48px;
    height: calc(100% - 60px);
  }
}
