<profile-view (showDocument)="onShowDocument($event)" (onShowUsers)="onShowUsers($event)"></profile-view>
<sidepanel class="sidepanel"
           [toggle]="documentDialogVisible"
           (toggleChange)="closeDocumentDialog()"
           style="z-index: 1001">
  <document-dialog *ngIf="documentDialogVisible"
                   [document]="document"
                            (close)="closeDocumentDialog()">
  </document-dialog>
</sidepanel>

<sidepanel class="sidepanel"
           [toggle]="usersDialogVisible"
           (toggleChange)="closeUsersDialog()"
           style="z-index: 1001">
  <users-dialog *ngIf="usersDialogVisible"
                [users]="users"
                   (close)="closeUsersDialog()">
  </users-dialog>
</sidepanel>
