@media(max-width: 992px) {
  .b-r {
    border: 0px !important;
  }
}

@media(min-width: 991px) {

  .p-b-15 {
    padding-bottom: 0px !important;
  }

  .right-column {
    &.p-t-15 {
      padding-top: 0px !important;
    }

    &.b-t {
      border: 0px !important;
    }

    .card-title {
      margin-left: 30px;
    }

    .data-label-default {
      margin-left: 65px;
      margin-right: 0;
    }
  }
}

h5 {
  padding-top: 4px;
  font-size: 13px;
}

.data-label-default {
  /*margin: 0 45px;*/
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-container {
  background: #f6f6f8;
  margin: 40px -40px 0 -40px;
  /*padding: 20px;*/
  padding: 10px 65px;

  h5 {
    /*font-size: 16px;*/
    /*margin: 0 30px;*/
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      font-size: 30px;
      color: #BE3A43;
    }

    span {
      margin-left: 30px;
      font-size: 16px;
      width: 100%;
    }
  }
}


.col-heading {
  margin-left: 30px;
  border-bottom: 1px solid #edeef2;;
  span {
    margin-left: 0;
    font-size: 16px;
  }
}

.fleet-info {
  margin-top: 10px;
  margin-left: 30px;
}


/* for mobile & tablets */
@media(max-width:1049px) {

  .page-container-wrapper .page-container .page-content-wrapper .content {
    padding-top: 130px !important;
  }

}

/* for mobile only */
@media only screen and (max-width: 768px) {

  .data-label-default,
  .data-label-default.right-column,
  .card-title {
    margin-left: 0px;
  }

}

.region-area {
  background-color: #c6262c;
  color: white;
  text-align: center;
  margin: 0 5px 5px 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  white-space: nowrap;
  font-weight: 400;
  display: inline-block;
}

.document-link {
  background: #edeef2;
  color: black;
  text-align: center;
  margin: 0 5px 5px 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  white-space: nowrap;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: #afb0b4;
  }
}

.tooltip-arrow.arrow::before {
  border-top-color: rgba(0, 0, 0, 0.07);
}

.tooltip-inner {
  background-color: #f6f6f8 !important;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: black;
  padding: 15px;
}
.tooltip.show {
  opacity: 1 !important;
}

