<div style="margin-bottom:0px;padding: 20px 20px 0px 20px;"
     class="card card-default no-border">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6 p-b-15 border-right no-border-mobile b-grey">
        <div class="card-title m-b-20">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-heading">
                <span>Contacts</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-large data-label-default">
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Name</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.name}}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Operator Legal Name</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.legalName}}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Address</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.addressLine1}}, {{operator.addressLine2}}, {{operator.addressLine3}}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">City, State</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">
                {{operator.city}}, {{operator.stateProvince}}
              </p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Postal Code</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">
                {{operator.postalCode}}
              </p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Phone</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.phoneNumber1}}, {{operator.phoneNumber2}}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Website</h5>
            </div>
            <div class="col-6">
              <p class="no-margin"><a [href]="operator.websiteUrl">{{operator.websiteUrl}}</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 p-t-15 b-t b-dashed b-grey right-column">
        <div class="card-title m-b-20 p-l-5">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-heading">
                <span>Email Settings</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-large data-label-default">
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Charters Email</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.chartersEmail }}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Empty Legs Email</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.emptyLegsEmaii }}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Fulfill Email</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.fulfillEmail }}</p>
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-6">
              <h5 class="font-montserrat all-caps small no-margin bold">Shattles Email</h5>
            </div>
            <div class="col-6">
              <p class="no-margin">{{operator.shuttlesEmail }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 m-t-10">
        <a href="javascript:void(0)" class="fleet-info">Review Aircraft Fleet Info</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="info-container">
          <h5 class="text-justify">
            <!--<i class="fal fa-info-circle"></i>-->
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="40"
                 height="40"
                 viewBox="0 0 40 40">
              <path d="M20,38.92a18.92,18.92,0,0,1-.54-37.84H38.92V20.16A18.92,18.92,0,0,1,20,38.92m0,.43A19.35,19.35,0,0,0,39.35,20.16V.65H19.46A19.35,19.35,0,0,0,20,39.36h0ZM40,0V20.16A20,20,0,1,1,19.45,0ZM20,38.28A18.27,18.27,0,0,0,38.27,20.16V1.72H19.46A18.28,18.28,0,0,0,20,38.28ZM17.44,17.36v-.9a9.15,9.15,0,0,1,1.06-.33q.66-.17,1.41-.3c.5-.09,1-.16,1.47-.23a10.33,10.33,0,0,1,1.29-.09l.48.32L20.76,27.21h1.86v.92a5.28,5.28,0,0,1-.81.46,8,8,0,0,1-1,.38,8.52,8.52,0,0,1-1,.26,5.77,5.77,0,0,1-1,.09A2,2,0,0,1,17.37,29a1.16,1.16,0,0,1-.39-.84,6.63,6.63,0,0,1,.08-1q.08-.5.21-1.11l1.8-8.23Zm2.23-6A1.73,1.73,0,0,1,20.28,10a2.33,2.33,0,0,1,1.54-.5,2.41,2.41,0,0,1,1.61.5,1.74,1.74,0,0,1,.6,1.41,1.68,1.68,0,0,1-.6,1.35,2.4,2.4,0,0,1-1.61.5,2.33,2.33,0,0,1-1.54-.5,1.66,1.66,0,0,1-.61-1.35Z"
                    transform="translate(0)"
                    fill="#c6262c" /></svg>
            <span>
              If you find any mistakes, please email us at <a href="mailto:clientservices@flyxo.com">clientservices@flyxo.com</a>
            </span>
          </h5>
        </div>

      </div>
    </div>
  </div>
</div>
