<kendo-card [width]="'auto'">
  <kendo-card-header class="k-vbox">
    <div>
      <h1 kendoCardTitle>Main Info</h1>
    </div>
  </kendo-card-header>
  <kendo-card-body>

  </kendo-card-body>
</kendo-card>

<kendo-card [width]="'auto'">
  <kendo-card-header class="k-hbox">
    <div>
      <h1 kendoCardTitle>Insurance Info</h1>
    </div>
  </kendo-card-header>
  <kendo-card-body>

  </kendo-card-body>
</kendo-card>

<kendo-card [width]="'auto'">
  <kendo-card-header class="k-hbox">
    <div>
      <h1 kendoCardTitle>Pictures Management</h1>
    </div>
  </kendo-card-header>
  <kendo-card-body>

  </kendo-card-body>
</kendo-card>
