.page-sidebar .sidebar-menu .menu-items{
    & > li ul.sub-menu{
        margin: 0;
        padding: 0;
        & > :first-child{
            margin-top: 19px;
        }
        & > :last-child{
            margin-bottom: 10px;
        }
    }
}
.page-sidebar .sidebar-menu .menu-items li > a {
  width: 100%;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title {
  width: 45%;
}
