.home {
  text-align: center;
}

.center {
  position: fixed;
  top: 50%;
  left: calc(50% + 125px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img.center{
  opacity: 0.5;
}

.action-btn {
  width: 200px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.action-btn-wrapper {
top: 20%;
position: absolute;
}

.home-heading{
  opacity: 0;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

@keyframes fade-in {
0%   { opacity: 0; }
100% { opacity: 1; }
}
.fade-in {
animation-name: fade-in ;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;
animation-delay: 100ms;
}



/* for mobile & tablets */
@media(max-width:1049px){

.center {left: 50%; width: 100%;}


}
