$tile-width: 400px;
$tile-height: 285px;

.tile-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;


  .tile {
    width: $tile-width;
    height: $tile-height;
    margin: 0 auto;

    @media (max-width: $tile-width) {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .tile-container {
    grid-template-columns: repeat(auto-fill, 100%);
    .tile {
      width: 100%;
      height: 300px;
    }
  }
}

.card {
  border-radius: 5px;
  font-size: 12px;
  // height: calc(100% - 20px);
  height: 100%;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;

  .card-body {
    padding: 15px 15px 0 15px;
    .height-100 {
      height: calc(100% - 49px - 41px);
    }
    .col-left {
      padding: 0 0 10px 10px;
    }

    .col-right {
      display: flex;
      flex-direction: column;
      .buttons-block {
        margin: auto 0 45px 0;
      }
    }
  }
  .title {
    h5 {
      font-size: 16px;
      margin-bottom: 10px;

      span {
        background: #80808038;
        padding: 3px 10px 3px 7px;
        font-size: 12px;
        border-radius: 21px;
        margin: 0 0 0 6px;
      }
    }
  }

  .top-full-width {
    margin: -15px -15px 0;
  }

  .title-icon {
    line-height: 25px;
    margin-left: 5px;
  }

  .show-route {
    position: absolute;
    bottom: 10px;
    right: -1px;
    left: -1px;
    padding: 10px 0;
    background: #e8e8e8;
    a {
      font-size: 10px;
      color: #37373f;
      font-weight: bold;
      i {
        margin: 0 0 0 8px
      }
    }
  }
  .btn {
    min-width: 90px;
    width: auto !important;
  }

  .price-value {
    height: 24px;
  }
}

.offer-list-wrapper {
  @media (max-width: 768px) {
    margin-top: 130px;
  }
}
.tiny-text {
  font-size: 11px !important;
}

.tile-container .status {
  margin: 0 0 15px 0;font-size: 11px;letter-spacing: 0.5px;background: #edeef2;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
}
.tile-container .status.bg-brand {background: #c6262c;}

.tile-container .contract-type {
  top: 10px;
  right: 10px;
  padding: 4px 10px 4px 10px;
  border: 1px solid #edeef2;
  font-size: 11px;
  border-radius: 20px;
  text-align: right;
  line-height: 16px;

  word-wrap: break-word;
  max-width: 50%;
  position: absolute;
}

.card .card-body .bottom-full-width {
  margin: 0 -10px !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .title-icon {
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
  }
  .tiny-text {
    border-bottom: 1px solid #edeef2;
    line-height: 20px
  }
  > div {
    padding: 2px 0;
  }
}
