.info-btn {
  // position: absolute;
  // top: 8px;
  // right: 18px;
  margin-right: 4px;
  background: transparent;
  border: 0;
}

.tooltip-arrow.arrow::before {
  border-top-color: rgba(0, 0, 0, 0.07);
}

.tooltip-inner {
  background-color: #f6f6f8 !important;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: black;
  padding: 15px;
}
.tooltip.show {
  opacity: 1 !important;
}

.k-card-media li img {
  width: 260px;
}

.k-multiselect .k-multiselect-wrap {
  border: none;
}

kendo-card {
  margin: 10px;
}

.form-control[disabled] {
  color: #c6ccce;
}

form {
  padding: 0 5%;
}

.checkbox-label {
  display: inline-flex;
  flex-flow: row-reverse;
  margin: 10px;
  span {
    margin-left: 15px;
  }
  input {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  form .row [class*='col-']:first-child {
    padding-left: 0;
  }
}
