<div class="container-fixed-header">
  <aircraft-list-filters>
  </aircraft-list-filters>
</div>

<div class="bookings-wrapper">
  <!-- <h4>My Flights</h4> -->
  <div class="row justify-content-end m-b-10">
    <button type="button"
            class="view-btn"
            [tooltip]="'Card View'"
            container="body"
            [ngClass]="{active: viewMode === 'cardView'}"
            (click)="setViewMode('cardView')">
      <i class="fal fa-list-alt"></i></button>

      <button type="button"
              class="view-btn"
              [tooltip]="'Table View'"
              container="body"
              [ngClass]="{active: viewMode === 'tableView'}"
              (click)="setViewMode('tableView')">
        <i class="fal fa-columns"></i></button>

  </div>
  <div class="row">
    <div class="col col-sm-12"
         [ngSwitch]="true">
      <div class="dataTables_wrapper"
           *ngSwitchCase="true">
        <aircraft-list-card (onSelect)="onSelectAircraft($event)" [viewMode]="viewMode">
        </aircraft-list-card>
        <div class="row">
          <pagination class="dataTables_paginate paging_simple_numbers"
                      [itemsPerPage]="itemsPerPage$"
                      [maxSize]="7"
                      [ngModel]="currentPage$"
                      (pageChanged)="pageChanged($event)"
                      [totalItems]="itemsTotalCount$">
          </pagination>

          <div class="dataTables_info">
            <page-summary [currentPage]="currentPage$"
                          [itemsPerPage]="itemsPerPage$"
                          [totalItems]="itemsTotalCount$">
            </page-summary>
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>
        <h5>No flights match your search</h5>
      </div>
    </div>
  </div>
</div>

<sidepanel class="sidepanel"
           [toggle]="aircraftDetailsDialogVisible"
           (toggleChange)="onCloseAircraftDetailsDialog()"
           style="z-index: 1001">
  <aircraft-details-dialog *ngIf="aircraftDetailsDialogVisible"
                           [aircraft]="selectedAircraft"
                         (close)="onCloseAircraftDetailsDialog()">
  </aircraft-details-dialog>
</sidepanel>
