<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center bold">Safety Requirements</h4>
      <div class="table-responsive m-t-25">
        <table class="table dataTable no-footer no-margin">
          <!-- <thead class="thead-light">
        <tr>
          <th class="text-right">AC Type</th>
          <th class="text-center">Jet</th>
          <th class="text-center">Turbo Prop</th>
          <th class="text-center">Turbo Prop</th>
        </tr>
        </thead> -->
          <tbody>
          <tr>
            <th class="text-right">AC Type</th>
            <th class="text-center">Jet</th>
            <th class="text-center">Turbo Prop</th>
            <th class="text-center">Turbo Prop</th>
          </tr>
          <tr>
            <td class="bold text-right no-border">Name</td>
            <td class="text-center no-border">All</td>
            <td class="text-center no-border">Pilatus</td>
            <td class="text-center no-border">King Air</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">Min Crew</td>
            <td class="text-center no-border">2</td>
            <td class="text-center no-border">2</td>
            <td class="text-center no-border">2</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">PIC: Total Time</td>
            <td class="text-center no-border">3000</td>
            <td class="text-center no-border">1200</td>
            <td class="text-center no-border">1500</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">PIC: Total PIC time</td>
            <td class="text-center no-border">1500</td>
            <td class="text-center no-border">500</td>
            <td class="text-center no-border">500</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">PIC: Total PIC Time in Type</td>
            <td class="text-center no-border">100</td>
            <td class="text-center no-border">100</td>
            <td class="text-center no-border">100</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">SIC: Total Time</td>
            <td class="text-center no-border">1000</td>
            <td class="text-center no-border">500</td>
            <td class="text-center no-border">500</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">SIC: Total PIC Time</td>
            <td class="text-center no-border">500</td>
            <td class="text-center no-border">0</td>
            <td class="text-center no-border">0</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">SIC: Total Time in Type</td>
            <td class="text-center no-border">0</td>
            <td class="text-center no-border">100</td>
            <td class="text-center no-border">100</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">Combined PIC Time In Type</td>
            <td class="text-center no-border">250</td>
            <td class="text-center no-border">250</td>
            <td class="text-center no-border"></td>
          </tr>
          <tr>
            <td class="bold text-right no-border">SIC: ATP Required</td>
            <td class="text-center no-border">No</td>
            <td class="text-center no-border">No</td>
            <td class="text-center no-border">No</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">Operator Rating</td>
            <td class="text-center no-border">Gold or higher</td>
            <td class="text-center no-border">Gold or higher</td>
            <td class="text-center no-border">Gold or higher</td>
          </tr>
          <tr>
            <td class="bold text-right no-border">Operator Rating (Wyvern)</td>
            <td class="text-center no-border">Wyvern Wingman</td>
            <td class="text-center no-border">Wyvern Wingman</td>
            <td class="text-center no-border">Wyvern Wingman</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="p-b-40"
     style="background: #fafafa; margin: 0 -30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="p-t-20 bold text-center">Turbo Prop Exceptions</h4>
        <ul class="p-r-45 p-l-45 p-b-20">
          <li>
            If PIC has less than 100 hours in PIC Time in Type, they must be paired with SIC that has 300 hours in TotalTime in Type or more.
          </li>
          <li>
            If SIC has less hours than chart above, they must be paired with PIC that has 300 hours in PIC Time in Typeor more.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

